.card {
  width: 540px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  margin: 0;
  padding: 0;
}

.card__list-item {
  display: flex;
  list-style-type: none;
  margin-top: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #838383;
  flex-grow: 1;
}
